[submodule "source/MetroRadiance"]
	path = source/MetroRadiance
	url = https://github.com/Grabacr07/MetroRadiance
[submodule "source/MetroTrilithon"]
	path = source/MetroTrilithon
	url = https://github.com/Grabacr07/MetroTrilithon
[submodule "source/Plugins/MaterialChartPlugin"]
	path = source/Plugins/MaterialChartPlugin
	url = https://github.com/donaco/MaterialChartPlugin
