[submodule "source/MetroTrilithon"]
	path = source/MetroTrilithon
	url = https://github.com/Grabacr07/MetroTrilithon
[submodule "source/Plugins/MaterialChartPlugin"]
	path = source/Plugins/MaterialChartPlugin
	url = https://github.com/donaco/MaterialChartPlugin
[submodule "source/Plugins/EventMapHpViewer"]
	path = source/Plugins/EventMapHpViewer
	url = https://github.com/donaco/EventMapHpViewer
