<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ElementalAnnotations-Core" version="1.0.1" targetFramework="net48" />
  <package id="ElementalAnnotations-Dark" version="1.0.2" targetFramework="net48" />
  <package id="ElementalAnnotations-Dualism" version="1.0.2" targetFramework="net48" />
  <package id="ElementalAnnotations-Light" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.142" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Reactive" version="6.1.0" targetFramework="net48" />
</packages>
