<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Grabacr07.KanColleViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Grabacr07.KanColleViewer.Properties.Settings>
      <setting name="KanColleUrl" serializeAs="String">
        <value>https://play.games.dmm.com/game/kancolle</value>
      </setting>
      <setting name="UIContentHight" serializeAs="String">
        <value>333</value>
      </setting>
      <setting name="FeatureBrowserEmulation" serializeAs="String">
        <value>11000</value>
      </setting>
      <setting name="SallyAreaSource" serializeAs="String">
        <value>https://dona-co.art/kcv/EventMap.json</value>
      </setting>
      <setting name="MapCellNameSource" serializeAs="String">
        <value>https://dona-co.art/kcv/MapCellNames.json</value>
      </setting>
      <setting name="DaiNaiShipSource" serializeAs="String">
        <value>https://dona-co.art/kcv/DaiNai_Ship.json</value>
      </setting>
      <setting name="OverrideStyleSheet" serializeAs="String">
        <value>body {
    margin:0;
    overflow:hidden
}

#game_frame {
    position:fixed;
    left:50%;
    top:0px;
    margin-left:-600px;
    z-index:1
}

.area-pickupgame,
.area-menu
{
    display:none!important;
}</value>
      </setting>
    </Grabacr07.KanColleViewer.Properties.Settings>
  </applicationSettings>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
</configuration>