<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="145.0.260" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="145.0.260" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="145.0.26" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="145.0.26" targetFramework="net48" />
  <package id="InternalReservedAttributeGenerator" version="0.1.2" targetFramework="net48" />
  <package id="LivetCask" version="4.0.2" targetFramework="net48" />
  <package id="LivetCask.Behaviors" version="4.0.2" targetFramework="net48" />
  <package id="LivetCask.Collections" version="4.0.2" targetFramework="net48" />
  <package id="LivetCask.Converters" version="4.0.2" targetFramework="net48" />
  <package id="LivetCask.Core" version="4.0.2" targetFramework="net48" />
  <package id="LivetCask.EventListeners" version="4.0.2" targetFramework="net48" />
  <package id="LivetCask.Messaging" version="4.0.2" targetFramework="net48" />
  <package id="LivetCask.Mvvm" version="4.0.2" targetFramework="net48" />
  <package id="LivetExtensions" version="4.0.2" targetFramework="net48" />
  <package id="log4net" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.142" targetFramework="net48" />
  <package id="MicrosoftExpressionInteractions" version="3.0.40218.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net48" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net48" />
  <package id="Rx-WPF" version="2.2.5" targetFramework="net48" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net48" />
  <package id="StatefulModel" version="0.6.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.2" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
</packages>