<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.142" targetFramework="net48" />
  <package id="MicrosoftExpressionInteractions" version="3.0.40218.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Reactive" version="6.1.0" targetFramework="net48" />
  <package id="Livet" version="3.1.0.1" targetFramework="net48" />
  <package id="LivetCask" version="3.1.0.1" targetFramework="net48" />
</packages>
